@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900|Roboto:300,400,500&display=swap');

.wrap
{
  max-width: 1440px;
  width: 100%;

  box-sizing: border-box;
  padding: 0 145px;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.eyeTracking
{
  width: 20px;
  height: 20px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0px;
  left: ;

  z-index: 999;

  background-color: red;
}

h1 /* test */
{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

